html {
  font-size: 62.5%;
}
body {
  font-family: helvetica;
  background-color: #F8F8F8;
  font-size: 1.6rem;
  margin-bottom: 0;
  margin: 0;
  padding: 0;
  position: relative;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  padding: 1rem;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
main {
  padding-top: 10rem;
}
img {
  display: block;
  max-width: 100%;
}
.logo {
  width: 5rem;
  height: 5rem;
}
.navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.navigation li {
  margin: 1rem;
}
.navigation a {
  padding: 1rem;
  background: #ddd;
  color: black;
  text-decoration: none;
  border-radius: 3px;
}
.navigation a:hover {
  background: #eee;
}
#sun {
  position: relative;
  top: -25rem;
  right: 4rem;
}
#name {
  font-family: Georgia;
  text-align: left;
}
.info1 {
  margin-left: 7rem;
  max-width: 50rem;
  position: relative;
  top: 7rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.content1 {
  padding: 2rem;
  top: -10rem;
  z-index: -1;
  float: right;
  min-width: 49.9rem;
  max-width: 50rem;
  text-align: right;
  background-color: #78B6EA;
  color: white;
  padding-left: 100%;
  padding-right: 5rem;
  margin-top: -28rem;
  padding-bottom: 5rem;
  font-size: 1.6rem;
  margin-bottom: -10rem;
}
#uxintern {
  font-family: georgia;
  text-align: center;
}
#plant {
  max-width: 30rem;
  max-height: 35rem;
  position: relative;
  left: 3rem;
  background-color: #78B6EA;
  top: -4rem;
}
#email {
  margin-top: 1.7rem;
  margin-bottom:2.7rem;
  width: 30rem;
  border-color: #78B6EA;
  border-width: thick;
  color: F8F8F8;
  background-color: white;
  opacity: 1;
}
.yea {
  background-color: #fafcda;
  font-family: Georgia;
  text-align: center;
  padding-top: 10rem;
  min-width: 1000px;
  padding-bottom: 20rem;
  color: purple;
  top: -30rem;
  width: 100%;
  top: 1rem;
}
#button {
  width: 8rem;
  height: 3rem;
  border-radius: .8rem;
  background-color: #78B6EA;
  color: white;
  border-color: #fafcda;
  display: block;
  position: relative;
  left: 47%
}
#email {
border-color: #78B6EA;
border-radius: .5rem;
height: 2.7rem;
border-width: 4
}
