html {
  font-size: 62.5%;
}
body{
  position: relative;
  margin: 0;
}
nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  flex-wrap: nowrap;
  position: fixed;
  background-color: #F8F8F8;
  z-index: 100;
  padding-bottom: 2rem;
}
a:link,a:visited{
  text-decoration: none;
  color: purple;
}
a:hover{
  color: blue;
}
#flexparent{
display: flex;
width: 30rem;
margin-right: 5rem;
flex-basis: auto;
justify-content: space-between;
color: purple;
}

#name {
  font-family: Georgia;
  text-align: left;
}
#infotext1{
  width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.info1 {
  margin-left: 7rem;
  position: relative;
  display: flex;
  justify-content:space-around;
  align-items: center;
  top: 10rem;
  font-size: 1.4vw;
  margin-bottom: 15rem;
}
.content1 {
  padding: 2rem;
  display: flex;
  background-color: #78B6EA;
  color: white;
  text-align: right;
  padding-right: 5rem;
  z-index: 2;
  padding-bottom: 5rem;
  padding-top: 5rem;
  font-size: 1.6vw;
  justify-content: space-between;
}
#contenttext1{
  display:flex;flex-direction: column;
  align-content: center;
  width: 40vw;

}
body{
  font-family: helvetica;
  background-color: #F8F8F8;
  margin-bottom: 0;
  font-size: 1.6rem;
}
img{

}
#uxintern{
  font-family: georgia;
  text-align: center;
}
#plant{
  width: 30vw;
  height: 30vw;
}
#email{
  margin-top: 1.7rem;
  margin-bottom:2.7rem;
  width: 30rem;
  border-color: #78B6EA;
  border-width: thick;
  color: F8F8F8;
  background-color: white;
  opacity: 1;
}
.yea {
  background-color: #fafcda;
  font-family: Georgia;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 20rem;
  color: purple;
  top: -30rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sun{
  width:30vw;
  height: 23vw;
}
#button{
  width: 8rem;
  height: 3rem;
  border-radius: .8rem;
  background-color: #78B6EA;
  color: white;
  border-color: #fafcda;
  display: block;
  border-style: solid;
  position: relative;
}
#email{
border-color: #78B6EA;
border-radius: .5rem;
border-style: solid;
height: 2.7rem;
border-width: 4
}
#brain{
width: 5rem;
height: 5rem;
position: relative;
top: 0;
left: 0;
display: inline;
margin-left: 1rem;
margin-top: 1rem;
}
